<mat-card class="login-card">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Login</h2>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password" type="password" required />
    </mat-form-field>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <button mat-raised-button color="primary" class="full-width" [disabled]="form.invalid">
      Entrar
    </button>
  </form>

  <button mat-button class="full-width" color="accent" routerLink="/register">
    Criar conta
  </button>
  
</mat-card>
